 <div class="user-details">
  <h1> Me </h1>
  <p> {{site.user_description}} </p>
  
	 
	 
  <ul style="list-style-type:square">
  </ul>
  <hr>
  <h3>Education</h3>
  <ul style="list-style-type:square">   
	   <li><a style="text-decoration:none; color:grey;" href="https://www.firat.edu.tr/tr">BS, Firat University, Software Engineering</a></li>
  </ul>
  <hr>
  <h3>Experiences</h3>
  <ul style="list-style-type:square">
	<li><a style="text-decoration:none; color:grey;" href="https://msu.edu.tr/eng/default.aspx">National Defence University, RA</a></li>
	<li><a style="text-decoration:none; color:grey;" href="https://www.tofas.com.tr/en/Pages/default.aspx">Tofaş Turkish Automobile Factory, R&D, Bursa / Turkey</a></li>
	<li><a style="text-decoration:none; color:grey;" href="https://www.mfkmakina.com/en/">M.F.K. Company, R&D, Bursa / Turkey</a></li>
	
  </ul>	
  <hr>
  <h3>Projects</h3>
  <ul style="list-style-type:square">
	<li><a style="text-decoration:none; color:black;" href="https://github.com/alpersanli" target="_blank">GitHub</a> 	   |   </>   
	    <a style="text-decoration:none; color:black;" href="https://grabcad.com/alper.sanli-1" target="_blank">GrabCAD</a> 	   |   </>  
	    <a style="text-decoration:none; color:black;" href="https://repl.it/@AlperSanli" target="_blank">Repl.it</a> 	       </>  
	<li><a style="text-decoration:none; color:grey;" >Hezârfen Model Satellite Team, Istanbul</a></li>
	<li><a style="text-decoration:none; color:grey;" >Tulpar Nano - Underground Mission Team, Havelsan & ODTÜ RT</a></li>
	<li><a style="text-decoration:none; color:grey;" href="YERYUZU_GOZLEM_UYDUSU_MODELLENMESI_VE_ANALIZI.pdf" target="_blank">Design, Analysis of Earth Observation Satellite </a></li>
	<li><a style="text-decoration:none; color:grey;" href="heat transfer thesis.pdf" target="_blank">Determining Heat Transfer Coefficients of 0.08 mm, 0.1 mm Diameter Wires in Wind Tunnel</a></li>
	<li><a style="text-decoration:none; color:grey;" href="http://turk-cose.ohu.edu.tr/pdf/21/bookofproceedings.pdf" target="_blank">Conference Paper : TURK-COSE 2021, Book of Proceedings, Page : 766-779</a></li>
	<li><a style="text-decoration:none; color:grey;" href="INVESTIGATION OF FUEL CELL MODELS AND CREEP EXPERIMENTS.pdf" target="_blank">Investigation of Fuel Cell Models and Creep Experiments</a></li>
	<li><a style="text-decoration:none; color:grey;" >Fuel Cell Electric Vehicle Technology and Its Effects on Vehicle Architecture</a></li>
	<li><a style="text-decoration:none; color:grey;" href="http://online.otekon.org/hibrit/?p=duyurular&dID=6" target="_blank">Conference Paper : OTEKON 2020, Book of Proceedings, Page : 1120-1128</a></li>	
	<li><a style="text-decoration:none; color:grey;" >Design of ASTINSAT-1 And Structural Analysis, Use of Generative Design</a></li>
	<li><a style="text-decoration:none; color:grey;" href="http://www.muhendislikveteknolojiyonetimikongresi.org/eng/" target="_blank">Conference Paper : 6th International Congress On Engineering And Technology Management, 2021</a></li>
	<li><a style="text-decoration:none; color:grey;" href="bug.html" target="_blank">Bug'2 Unmanned Aerial Vehicle Project</a></li>
        <li><a style="text-decoration:none; color:grey;" href="3d.html" target="_blank">3D and Augmented Reality Parts Embedded Website</a></li>
  </ul>	
  <hr>
 
	  
	  
	 

    </div>
</div>
