 <div class="user-details">
  <h1> Me </h1>
  <p> {{site.user_description}} </p>
  
	 
	 
  <ul style="list-style-type:square">
  </ul>
  <hr>
  <h3>Education</h3>
  <ul style="list-style-type:square">   
	   <li><a style="text-decoration:none; color:grey;" href="https://www.firat.edu.tr/tr">BS, Firat University, Software Engineering</a></li>
  </ul>
  <hr>
  <h3>Experiences</h3>
  <hr>
  <h3>Projects</h3>
  <ul style="list-style-type:square">
	<li><a style="text-decoration:none; color:grey;" >Hezârfen Satellite Team, Istanbul</a></li>
	<li><a style="text-decoration:none; color:grey;" >Logical Defense, Elazig, Intern</a></li>
	<li><a style="text-decoration:none; color:grey;" >Eşkom, Ankara, Intern</a></li>
	<li><a style="text-decoration:none; color:grey;" >Man Factory, Ankara, Intern</a></li>

  </ul>	
  <hr>
 
	  
	  
	 

    </div>
</div>
