<!- – SATIRLARI YORUM YAPTIM , BELKI ILERDE KULLANIRIM DIYE...

  <div class="user-details">
    <h1> Featured Projects </h1>
  </div>

  <div class="user-projects">
    <div class="images-right">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Project Title </h3>
      <ul>
        <li>Machine Design I</li>
      </ul>
      <p>Determining Heat Transfer Coefficients of 0.08 mm, 0.1 mm Diameter Wires in Wind Tunnel</p>
      <a class="project-link" href="https://alpersanli.github.io/heat%20transfer%20thesis.pdf">Check it out</a>
    </div>
  </div>

  <div class="user-projects">
    <div class="images-left">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Project Title </h3>
      <ul>
        <li>Machine Design II</li>
      </ul>
      <p>Investigation of Fuel Cell Models and Creep Experiments</p>
      <a class="project-link" href="https://alpersanli.github.io/INVESTIGATION%20OF%20FUEL%20CELL%20MODELS%20AND%20CREEP%20EXPERIMENTS.pdf">Check it out</a>
    </div>
  </div>

-->
